/*CSS Reset*/
* {
	margin:0px; 
	padding:0px;
}

body{ 
	font-size:12px; 
	color:#000; 
	font-family:helvetica, arial, sans-serif;
	background-color:#6D85F2;
	text-align:center;
}

#blocoCabecalho, #blocoConteudo, #blocoRodape{
	width:100%;
	height:auto;
	position:relative;
	padding:10px 0px;
}

#blocoCabecalho{
	background-color:#6D85F2;
	height: 50px;
}
#blocoConteudo{
	background-color:#FFF;
}
#blocoRodape{ 
	font-size:10px; 
	color:#FFF;
}

#logoCompany, #blocoConteudo h2, #blocoConteudo form .campos, #usuarioLogado {
	display:block;
	position:relative;
	overflow:hidden;	
}

#logoCompany {
	float:left;
}

#usuarioLogado  {
	float:right;
	height:auto;
	width:auto;
}

#blocoConteudo h2{
	font-size:2em;
	color:#2B2926;
	text-align:left;
	width:100%;
	height:auto;
	margin-bottom:10px;
	border-bottom:solid 1px #252210;
}

#blocoConteudo table.dados{
	width:100%;
	height:auto;
}

#blocoConteudo table.dados tr th{
	background-color:#0B0F19;
	color:#fff;
	color:1em;
	padding:10px;
}

#blocoConteudo table.dados tr td{
	padding:5px 10px;
}

/*basic configuration forms*/		
#blocoConteudo form{
	margin-bottom:15px;
}

/*///////////////*/
/*Footer internal*/
#blocoRodape a{
	color:#FFE773;
	text-decoration:none;
}

#blocoRodape a:hover{
	color:#6D89D5;
	text-decoration:underline;
}

input, textarea{
	-moz-border-radius:5px 5px 5px 5px;
	background:url("../resources/imagens/txt.gif") repeat-x scroll 0 0 transparent;
	border:1px solid #999999;
	padding:5px 2px;
	margin-bottom: 3px;
}

.campos tbody tr td {
	padding-top: 10px;
	text-align: left;
}

h2 {
	width: 100%;
	border-bottom: 1px solid;
	font-size: x-large;
}

input[type="submit"] {
	background:url("../resources/imagens/fundo_botao.gif") repeat-x scroll 0 0 #2A2A2A;
	border:1px solid #272727;
	text-shadow:1px 1px 0 #000000;
	-moz-border-radius:5px 5px 5px 5px;
	color:#FFFFFF;
	cursor:pointer;
	padding:3px;
}

.dados {
	width: 100%;	
}

.dados thead tr th, .dados tbody tr td {
	padding: 0px 10px 0px 10px;	
}

.par  {
	background-color: #F0F9FF;
}

.impar {
	background:none repeat scroll 0 0 #DDDDDD;
}

form fieldset {
	text-align:left;
	display:inline;
	vertical-align: top;
	width:100%;
	padding: 0px 0px 10px 10px;
	margin-top: 5px;
}

form fieldset legend {
	font-weight: bold;
	font-size: medium;
	padding: 0px 5px;
}

label{
	float: left;
	width: 120px;
}